$fondos:#0f840f;
  $fondos2:#f6b335;
  $dondos3:#ffff43;
  $letras: #161111;

header{
    background-color: $fondos;
    font-family: 'Staatliches', cursive;
}
#nav{
    background-color: $fondos;
    
}